<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/main.css">
    <title>
        <%=name%>
    </title>
</head>

<body>
    <div class="div">

        <section class="section">
            <% movieList.forEach(function (movie){ %>
                <img class="section__img" src="<%=image %>" alt="Carátula de <%=name%>" />
                <h3 class="section__title">
                    <%=name%>
                </h3>
                <p class="section__gender">Género: <%=gender%>
                        <a href="../" class="section__back">Volver a inicio</a>

                        <% })%>
        </section>
    </div>
</body>

</html>