<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/main.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div class="wrapper">
        <article class="">
            <img class="" src="<%=image %>" alt="Carátula de
        <%=title%>" />
            <div>
                <h3 class="">
                    <%= title %>
                </h3>
                <p class="">Género: <%= gender %>
                </p>
                <a href="../" class="">Volver a inicio</a>
        </article>
    </div>
    </div>
</body>

</html>